body {
    background-position: left top;
    background-color:white;
    font-family: 'Quicksand', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a,a:hover{
  color:black;
  padding:.2em;
  background-color:#fcf8e3
}

a:hover{
  text-decoration: line-through;
}

h5,h6 {
  margin-top:0;
  margin-bottom:0;
}

.submenuDEV,.submenuFOTO,.submenuZINE,.submenuFILM,.submenuPOT,.submenuCON{
  display:none;
}

#black_row{
	background-color:#212121;
	color:#f0f0f0;
}

#white_row{
	background-color:#f0f0f0;
	color:#212121;
}


.scrolling-wrapper{
	overflow-x: auto;
   overflow-y: hidden;
  
}