body {background-color: #ffffff;font-family: 'Quicksand', sans-serif;}
a,a:hover{color:black;padding:.2em;}
a:hover{text-decoration: line-through;}
.title{background-color:#f0f0f0;color:#212121;}
#white_text{color:#f0f0f0;}
.row1{background-color:	#00aaa0;}
.row2{background-color:	#ffb85f;}
.row3{background-color:	#ff7a5a;}
.row4{background-color:#462066;}
.row5{background-color:8ed2c9;}