body {
    background-position: left top;
    background-color:white;
    font-family: 'Quicksand', sans-serif;
}

a,a:hover{
  color:black;
  padding:.2em;
  background-color:#fcf8e3
}

a:hover{
  text-decoration: line-through;
}

h5,h6 {
  margin-top:0;
  margin-bottom:0;
}