body, html {
	height: 100%;
	width: 100%;
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, .h1, .h2, .h3, p {
	font-weight: 400;
}

nav {
	margin-left: -12px;
	margin-right: -12px;
}
/*
.background_text {
	background-color: #EDC330;
	box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
}
*/
.parallax {
	position: relative;
	height: 100%; 
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax1{
	background-image: url('../pictures/background/back1.webp');
}

.parallax2 {
	background-image: url('../pictures/background/back2.jpg');
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	 }
}

#language_text {
	cursor: pointer;
}

.section-header h3 {
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
    text-align: center;
    margin: auto;
    font-size: 15px;
    padding-bottom: 60px;
    width: 50%;
}

#clients {
    padding: 60px 0;
}
#clients .clients-wrap {
    margin-bottom: 30px;
}

#clients .client-logo {
    padding: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    background: #fff;
    height: 160px;
}

#clients img {
    transition: all 0.4s ease-in-out;
}
 
