body, html {
	height: 100%;
	width: 100%;
	font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4, p {
	font-weight: 400;
}

nav {
	margin-left: -12px;
	margin-right: -12px;
}
/*
.background_text {
	background-color: #EDC330;
	box-shadow: 10px 0 0px 0px #EDC330, -10px 0 0px 0px #EDC330;
}
*/
.parallax {
	position: relative;
	height: 100%; 
	align-items: center;
	justify-content: center;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax1{
	background-image: url('../pictures/background/back0.webp');
}

.parallax2 {
	background-image: url('../pictures/background/back1.webp');
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
	.parallax {
		background-attachment: scroll;
	 }
}

#language_text {
	cursor: pointer;
}

 
.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white !important;
}

.first-col {
  min-width: 100px;
  left: 0px;
}

.footer-widget {
    height: 180px;
    width: 180px;
}