body {
    background-position: left top;
    background: url("http://i68.tinypic.com/2w6gy2h.jpg");
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
} 
 
.quotesgenerator{
  background-color:#fff;
  opacity:0.8;
  padding:1%;
}

.right-float{
  float: right;
}

.foooter{
  height:5px;
}